<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard

* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com

=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

<!DOCTYPE html>
<html>

{{>layout/header}}

<body>
<!-- Sidenav -->
{{>layout/sidebar}}

<!-- Main content -->
<div class="main-content" id="panel">

    <!-- Topnav -->
    {{>layout/navbar}}

    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">실시간 기기 반납 현황</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row" id="device_list">

        </div>

        <!-- Footer -->
        {{>layout/footer}}
    </div>
</div>

<!-- Argon Scripts -->
<!-- Core -->
{{>layout/plugins}}
</body>
</html>

<script language="JavaScript">
    $(document).ready(function () {
        getDeviceData()

        function getDeviceData(){
            $.ajax({
                url: '/api/soldier/return/status',
                type: "GET",
                data: JSON,
                success:function(data){
                    var str = "";
                    $(data).each(
                            function () {
                                str += "<div class='col-xl-3 col-md-6'>"
                                        + "<div class='card card-stats bg-dark text-white'>"
                                        + "<div class='card-body'>"
                                        + "<div class='row '>"
                                        + "<span class='ml-3 h2 text-white font-weight-bold mb-0'>" + this.name + " (" + this.serviceNumber +")" + "</span></div>"
                                        + "<div class='row'>"
                                        + "<p class='col mb-0 text-left'>"
                                        + "<span class='text-nowrap mr-2'>" + this.manufacturer + " (" + this.guid + ")" + "</span></p>"
                                        + "<p class='col mb-0 text-right'>"
                                        + "<span class='badge badge-dot'>"

                                var returnTime = this.returnTime

                                if(typeof returnTime == "undefined" || returnTime == null || returnTime == ""){
                                    str += "<span class='status mr-2'>미반납</span>"
                                } else {
                                    str += "<span class='status mr-2'>" + this.returnTime + "</span>"
                                }

                                str += "<i class='" + this.icon + "'></i></span></p></div></div></div></div>"
                            });
                    $("#device_list").html(str);
                },
            });
        }
    });
</script>
